<form (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      
      <div class="col-12 col-md-6 mb-3">
        <label for="nomeR" class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Nome della ricetta"
          [(ngModel)]="nome"
          name="nome"
          required
        />
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label for="prezzoSlider" class="form-label">Prezzo: {{prezzo}}€</label>
        <input
          type="range"
          class="form-range"
          min="1"
          max="10"
          step="1"
          value="5"
          id="prezzoSlider"
          [(ngModel)]="prezzo"
          name="prezzo"
        />
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label for="tempoSlider" class="form-label">Tempo in minuti: {{tempo}}m</label>
        <input
          type="range"
          class="form-range"
          min="1"
          max="20"
          step="1"
          value="10"
          id="tempoSlider"
          [(ngModel)]="tempo"
          name="tempo"
        />
      </div>

      <div class="col-12 mb-3">
        <label for="ingredientiR" class="form-label">Ingredienti</label>
        <input
          type="text"
          class="form-control"
          id="ingredienti"
          placeholder="Inserisci gli ingredienti"
          [(ngModel)]="ingredienti"
          name="ingredienti"
          required
        />
      </div>

      <div class="col-12 mb-3">
        <label for="preparazioneR" class="form-label">Preparazione</label>
        <input
          type="text"
          class="form-control"
          id="preparazione"
          placeholder="Inserisci la preparazione"
          [(ngModel)]="preparazione"
          name="preparazione"
          required
        />
      </div>

      <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Crea Ricetta</button>
      </div>
    </div>
  </div>
</form>
