<div class="container">
  <h1 *ngIf="deletable; else ricetteNormali">Le mie ricette</h1>
  <ng-template #ricetteNormali>
    <h1>{{ ricetteCount }} Ricette trovate</h1>
  </ng-template>
  
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Prezzo (€)</th>
            <th>Tempo (m)</th>
            <th>Ingredienti</th>
            <th>Preparazione</th>
            <th *ngIf="deletable === true"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ricetta of ricette">
            <td>{{ricetta.nome}}</td>
            <td>{{ricetta.prezzo}}</td>
            <td>{{ricetta.tempo}}</td>
            <td>{{ricetta.ingredienti}}</td>
            <td>{{ricetta.preparazione}}</td>
            <td *ngIf="deletable === true">
              <button class="btn btn-danger" (click)="cancella(ricetta.id)">Elimina Ricetta</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  